modules = ["web", "nodejs-20"]
run = "cd website && npm start"

[nix]
channel = "stable-24_05"

[deployment]
build = ["sh", "-c", "cd website && npm install && npm run build"]
deploymentTarget = "static"
publicDir = "website/out" 